
body{
  background-color:gray;
}
.container{
  background-image:linear-gradient(to left, #353535, #151515);
  margin:20px 30px;
  padding:20px;
  border-radius:30px;
  .stars {
    list-style: none;
    display: inline-block;
    width:500px;
    height:100px;
    padding:0;
    margin:0;
    font-size: 0;
    text-decoration: none;
    a{
      display:inline-block;
      margin:0;
      padding:0;
      position:absolute;
      height:100px;
      float:right;
      background-image: url('stars.png');
      background-position-x:-494px;
      background-repeat:no-repeat;
      &.one{
        width:100px;
        &:hover{
          background-position:-394px;
        }
        &:target{
          background-position:-394px;
        }
      }
      &.two{
        width:200px;
        &:hover{
          background-position:-296px;
        }
        &:target{
          background-position:-296px;
        }
      }
      &.three{
        width:300px;
        &:hover{
          background-position:-198px;
        }
        &:target{
          background-position:-198px;
        }
      }
      &.four{
        width:400px;
        &:hover{
          background-position:-99px;
        }
        &:target{
          background-position:-99px;
        }
      }
      &.five{
        width:495px;
        &:hover{
          background-position:0;
        }
        &:target{
          background-position-x:0;
        }
      }
    }
  }
}