body {
  background-color: gray; }

#container {
  background-color: white;
  border-radius: 40px;
  margin: 10px;
  display: flex;
  flex-wrap: no-wrap;
  padding: 20px;
  height: 110%; }

.set {
  flex: 1;
  height: 100%;
  margin: 10px; }

.album {
  width: 100%;
  display: inline-block;
  margin: 10px; }
  .album img {
    width: 100%;
    border: 5px solid #0c0c0c; }
