body{
    background-color: #1e1e1e;
    color: #FFF;
    font-family: "pp-sans-small-regular", Helvetica, Neue, Arial, sans-serif;
    font-weight:bold;
    padding:0;
    margin:0;
}
header{
    border-bottom:1px solid #999999;
    width:100%;
}
/*///////////////LOGO////////////////*/
#logo, nav, .log-sign{
    margin: 20px;
    display: inline-block;
}
#logo{
    float:left;
}
img{
    width:120px;
}
/*//////////////MENU//////////////*/
nav{
    text-transform: uppercase;
    width:50%;
    background-color: blue;
    margin: 20px 0 auto;
}
li{
    list-style: none;
    display: inline-block;
}
nav a{
    box-sizing: border-box;
    text-decoration: none;
    color:white;
    background-color: red;
    display:inline-block;
    height:100%;
}
nav a:hover{
    border-bottom:2px solid white;
}
/*//////////////BUTTONS/////////////*/
.log-sign{
    float:right;
}
button{
    border-radius: 21px;
    height: 42px;
    color: white;
}
button:hover{
    cursor:pointer;
}
button:active{
    text-decoration: underline;
}
header button{
    display: inline-block;
    width:90px;
    border:1px solid #FFF;
}
.login{
    background-color: transparent;
}
.signup{
    color:black;
    background-color: white;
}


/*/////////////////////////BODY/////////////////////*/
.content{
    width: 50%;
    margin: 100px auto;
    text-align: center;
    font-size:4em;
}
.content button{
    display:block;
    width:300px;
    margin: 10px auto;
}
.content button:first-of-type{
    background-color: #0070ba;
    border: none;
}
.content button:first-of-type:hover{
    background-color: #005ea6;
}
.content button:last-child{
    background-color: transparent;
    border: 1px solid white;
}